@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

//Variables

//Colors
$cyan: #3ee9e5;
$darkBlue: #080c20;
$blue: #093f68;
$grayishBlue: #777f98;
$white: #fff;
$pink: #ff2965;

//Font
$mainFont: "Manrope", sans-serif;
