@import "../../sass/mixins";

//Features
.features {
	margin-bottom: 144px;
}

@include md {
	//Features
	.features {
		max-width: 573px;
		margin: 0 auto;
		margin-bottom: 141px;
	}
}

@include lg {
	//Features
	.features {
		max-width: 100%;
		margin: 0;
		margin-bottom: 202px;

		//Features inner
		&__inner {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
		}
	}
}
